.grid-wrapper{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid {
    height:500px;
    width:500px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight {
    color:white;
}

.reset {
    background-color: black;
    border:2px solid white;
    color:white;
    padding:10px 20px;
    font-weight: bolder;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}